<h1>Adopt a Cat Today!</h1>




<table>
    <thead>
        <tr>
            <th colspan="1"> Name: <%= @cat.name %> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age: <%= @cat.age %> </td>
        </tr>
        <tr>
            <td>Color: <%= @cat.color%></td>
        </tr>
        <tr>
            <td>Description: <%= @cat.description %><td>
        </tr>

    </tbody>
</table>